.form {
  width: 100%;
}

.tags {
  overflow: hidden;
}

.tag {
  font-weight: bold;
  float: left;
  padding: 5px 10px;
  border-radius: 10em;
  margin-right: 5px;
  display: flex;
  align-items: center;
  border: 1px dotted #666;

  i {
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
  }
  
}

.tag-input {
  padding: 6px 10px;
  border-radius: 10em;
  color: #666;
  border: 0;
  float: left;
  font-size: 16px;
  outline: 0;
  border: 1px dotted #666;
  background: none;
  width: 120px;
}