@import (reference) url('../../styles/variables.less');

.criteria {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 15px;
  border: 1px solid #c9c9c9;
  margin-right: 5px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;

  i {
    margin-left: 10px;
    color: @coral-base;
  }
}
