.rule {
  table {
    tr {
      th {
        min-width: 120px;
        width: 20%;

        input {
          width: 100%;
        }
      }
    }
  }

  .action-bar {
    justify-content: flex-end;
    margin: 0 0 30px 0;

    button {
      color: #666;
      border: 1px dotted #c2c2c2;
      border-top: none;
      border-radius: 0;

      &:first-child {
        border-bottom-left-radius: 15px;
        border-right: none;
      }

      &:last-child {
        border-bottom-right-radius: 15px;
      }
    }
  }

  .criteria-values {
    display: flex;
  }
}
