@import (css) url('./styles/reset.less');
@import (reference) url('./styles/variables.less');

body,
label,
select {
  font-family: Roboto;
}

header {
  background: @primary-color;
  padding: 60px 20px 100px;

  h1 {
    font-family: Cookie;
    font-weight: normal;
    font-size: 96px;
    color: #fff;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);

  > div {
    max-width: 1000px;
    margin: auto;
    display: flex;
    padding: 20px;
    justify-content: flex-end;

    * {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .form-select {
    color: #999;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);

    select {
      border-radius: 0 5px 5px 0;
      border-left: 1px dotted #ccc;
      margin-left: 10px;
      margin-top: 1px;
    }
  }
}

section {
  max-width: 1000px;
  margin: auto;
  margin-top: -81px;
  margin-bottom: 200px;
  background: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.features-list {
  margin-bottom: 50px;
}

button {
  background: @secondary-color;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;

  i {
    margin-right: 10px;
  }

  &.outline {
    background: none;
    color: @primary-color;
    text-transform: none;
    border: 1px solid @primary-color;
  }
}

a {
  color: @secondary-color;
}

input[type='text'] {
  font-size: 16px;

  &:focus {
    border: 1px solid @primary-color;
  }
}

table {
  width: 100%;
  border: 1px dotted #c9c9c9;

  tr {
    border-bottom: 1px dotted #c9c9c9;

    &:nth-child(even) {
      background: #fff;
    }

    th {
      font-weight: normal;
    }

    td,
    th {
      padding: 10px 20px;

      &:nth-child(1) {
        border-right: 1px dotted #c9c9c9;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}

select {
  color: #444444;
  font-size: 18px;
  padding: 10px 40px 10px 10px;
  border: 0;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='80' height='80' fill='%666666'><polygon points='0,0 80,0 40,40'/></svg>")
    no-repeat;
  background-size: 12px;
  background-position: calc(100% - 20px) 60%;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
}

.application {
  flex-grow: 1;
}
