@import (css) url('./styles/reset.less');
@import (reference) url('./styles/variables.less');

body,
label,
select, 
input {
  font-family: Roboto;
}

header {
  background: @primary-color;
  padding: 60px 20px 100px;

  h1 {
    font-family: Cookie;
    font-weight: normal;
    font-size: 96px;
    color: #fff;
  }
}

section {
  max-width: 1000px;
  margin: auto;
  margin-top: -81px;
  margin-bottom: 200px;
  background: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.features-list {
  margin-bottom: 50px;
}

button {
  background: @secondary-color;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;

  i {
    margin-right: 10px;
  }

  &.outline {
    background: none;
    color: @primary-color;
    text-transform: none;
    border: 1px solid @primary-color;
  }
}

a {
  color: @secondary-color;
}

input[type='text'] {
  font-size: 16px;

  &:focus {
    border: 1px solid @primary-color;
  }
}

table {
  width: 100%;
  border: 1px dotted #c9c9c9;

  tr {
    border-bottom: 1px dotted #c9c9c9;

    &:nth-child(even) {
      background: #fff;
    }

    th {
      font-weight: normal;
    }

    td,
    th {
      padding: 10px 20px;
      border-right: 1px dotted #c9c9c9;

      &:last-child {
        border-right: none;
        text-align: right;
      }
    }
  }
}

select {
  color: #444444;
  font-size: 18px;
  padding: 5px 40px 5px 10px;
  border: 0;
  appearance: none;
  background: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='80' height='80' fill='%666666'><polygon points='0,0 80,0 40,40'/></svg>")
    no-repeat;
  background-size: 12px;
  background-position: calc(100% - 15px) 62%;
  background-repeat: no-repeat;
  border: 1px dotted #666;
}

input[type="text"] {
  padding: 6px 10px;
  border-radius: 10em;
  color: #666;
  font-size: 16px;
  outline: 0;
  border: 1px dotted #666;
  background: none;

  &::placeholder {
    color: #c9c9c9;
  }
}

.application {
  flex-grow: 1;
}
