@import (css) url('./styles/reset.less');
@import (reference) url('./styles/variables.less');

body,
label,
select,
input {
  font-family: Roboto;
}

header {
  padding: 20px 20px 100px;
  background: @primary-color;

  h1 {
    color: #fff;
    font-family: Cookie;
    font-size: 96px;
    font-weight: normal;
  }
}

section {
  margin-top: -80px;

  > ul {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 120px;
    background: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  }

  > .action-bar {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: white;
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.1);

    > div {
      display: flex;
      width: 100%;
      max-width: 1000px;
      justify-content: flex-end;
      margin: 0 auto;

      > * {
        margin-left: 10px;
      }
    }
  }
}

button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  background: @secondary-color;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;

  i {
    margin-right: 10px;
  }

  &.outline {
    border: 1px solid @primary-color;
    background: none;
    color: @primary-color;
    text-transform: none;
  }
}

a {
  color: @secondary-color;
}

input[type='text'] {
  font-size: 16px;

  &:focus {
    border: 1px solid @primary-color;
  }
}

table {
  width: 100%;
  border: 1px dotted #c9c9c9;

  tr {
    border-bottom: 1px dotted #c9c9c9;

    &:nth-child(even) {
      background: #fff;
    }

    th {
      font-weight: normal;
    }

    td,
    th {
      padding: 10px 20px;
      border-right: 1px dotted #c9c9c9;

      &:last-child {
        border-right: none;
        text-align: right;
      }
    }
  }
}

select {
  padding: 5px 40px 5px 10px;
  border: 0;
  border: 1px dotted #666;
  appearance: none;
  background: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='80' height='80' fill='%666666'><polygon points='0,0 80,0 40,40'/></svg>")
    no-repeat;
  background-position: calc(100% - 15px) 62%;
  background-repeat: no-repeat;
  background-size: 12px;
  color: #444444;
  font-size: 18px;
}

input {
  padding: 6px 10px;
  border: 1px dotted #666;
  background: none;
  border-radius: 10em;
  color: #666;
  font-size: 16px;
  outline: 0;

  &::placeholder {
    color: #c9c9c9;
  }
}

button.icon-button {
  padding: 0;
  background: none;
  color: @secondary-color;
  text-transform: none;

  i {
    margin: 0;
  }

  span {
    text-decoration: underline;
  }
}

.action-bar {
  display: flex;
}
